<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
PetClinic :: a Spring Framework demonstration
-->
<head th:include="common/layout::head">
    <script src="../../../resources/js/jquery.js"></script>
    <script src="../../../resources/js/thymol-custom.js"></script>
    <script src="../../../resources/js/thymol-setup.js"></script>
</head>
<body>
<div class="container">

    <div th:include="common/layout::header"></div>

    <h2>Owners</h2>
    
    <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css "/>
<!--
<link rel="stylesheet" href="http://localhost:8080/datatablesController/datatables-bootstrap2.css?id=owners&lastName=%25&c=%2Fowners.html%3FlastName%3D%2525 "/>
-->
    <table id="owners" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Address</th>
            <th>City</th>
            <th>Telephone</th>
            <th style="width: 100px;">Pets</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${selections}">
            <td><a href="/owners/7.html" th:href="@{'/owners/' + ${owner.id} + '.html'}" th:text="${owner.firstName + ' ' + owner.lastName}">Jeff Black</a></td>
            <td th:text="${owner.address}">1450 Oak Blvd.</td>
            <td th:text="${owner.city}">Monona</td>
            <td th:text="${owner.telephone}">6085555387</td>
            <td><span th:each="pet : ${owner.pets}"><span th:text="${pet.name}">Lucky</span>&nbsp;</span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr></tr>
        </tfoot>
    </table>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js "></script>
<!--
<script src="http://localhost:8080/datatablesController/datatables-51808.js?id=owners&t=main&lastName=%25&c=%2Fowners.html%3FlastName%3D%2525 "></script>
-->

    <div th:include="common/layout::footer"></div>

</div>
</body>

</html>
